<div class="background">
    <div class="container pt-5">
        <div class="row justify-content-md-center">
          <div class="col-lg-6 text-center">
            <div class="no-padding">
                <img src="../../../assets/home/Teste-Phone.png" class="img-fluid" alt="Responsive image">
                <h2 class="mt-2 mb-4">Baixe agora nosso app</h2>
                <div class="row">
                    <div class="col align-self-center">
                        <img src="./assets/home/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col align-self-center">
                        <img src="./assets/home/google-play-badge-1.png" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
          </div>

          
          <div class="col-lg-6">
            <div class="row title">
                <div class="col-4">
                    <img src="../../../assets/home/2DU_logo_2.png" class="text-left img-fluid" alt="Responsive image">
                </div>
                <div class="col-8">
                    <h4>PARA TODO PEDIDO <br> UMA ENTREGA!</h4>
                </div>
            </div>
            <p class="text-left">
                Aplicativo de compras de fácil usabilidade, tanto para o 
                lojista quanto para nossos usuários. O app é bem intuitivo, 
                com cores leves que ajudam os usuários no momentos da 
                decisão de compra.Delivery2U foi desenvolvido para 
                ajudar as empresas a aumentarem suas vendas e ajudar 
                os usuários a realizarem compras no conforto da sua 
                casa/escritório encontrando estabelecimentos com preços 
                justos que possam realizar a entrega com maior 
                segurança e pontualidade.
            </p>
          </div>
        </div>
    </div>
</div>

<div class="background2">
    <div class="container">

        <!-- AVATARS -->
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <div class="text-center mr-5">
                    <div class="circle"></div>
                    <h1>Lorem lpsom</h1>
                </div>
                <div class="text-center">
                    <div class="circle"></div>
                    <h1>Lorem lpsom</h1>
                </div>
                <div class="text-center ml-5">
                    <div class="circle"></div>
                    <h1>Lorem lpsom</h1>
                </div>
            </div>
        </div>
        
        <!-- TITLE -->
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
            </div>
        </div>
        
        <!-- CARDS -->
        <div class="cardTantto mt-5">
            <div class="pt-3 pl-3 pr-3 pb-3 text-center">
                <img src="../../../assets/home/9525.png" class="card-img" alt="...">
            </div>

            <div class="card-body">
                <h4 class="card-title">Usuário Usuário</h4>
                <p class="card-text"> {{ cardText }} </p>
            </div>
        </div>


        <div class="cardTantto mt-5">
            <div class="card-body text-right">
                <h4 class="card-title">Usuário Usuário</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus ligula aLorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus ligula a ornare tincidunt.</p>
            </div>

            <div class="pt-3 pl-3 pr-3 pb-3 text-center" style="margin-right: 9%;">
                <img src="../../../assets/home/2968.png" class="card-img" alt="...">
            </div>
        </div>


        <div class="cardTantto mt-5">
            <div class="pt-3 pl-3 pr-3 pb-3 text-center">
                <img src="../../../assets/home/3061901.png" class="card-img" alt="...">
            </div>

            <div class="card-body">
                <h4 class="card-title">Usuário Usuário</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus ligula aLorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus ligula a ornare tincidunt.</p>
            </div>
        </div>

        <!-- DOWNLOAD NOW -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="d-flex justify-content-center mt-5 mb-5">Baixe agora o nosso app!</h1>
            </div>

            <div class="col-sm-6 d-flex justify-content-end">
                <img src="./assets/home/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg" alt="">
            </div>
            <div class="col-sm-6 d-flex justify-content-start">
                <img src="./assets/home/google-play-badge-1.png" alt="">
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

