<div class="background">
    <div class="container">
        <div class="square">
            <h4>Quero cadastrar meu</h4>
            <h2>ESTABELECIMENTO</h2>
        </div>
    </div>
</div>

<div class="background2">
    <div class="container">
        <h1 class="text-center pt-5">Cadastre sua loja (Exemplo)</h1>
        
        <div class="card mt-5">
            <h2 class="pl-5 pt-5">Dados pessoais</h2>

            <div class="input-group pt-3 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Sobrenome">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="CPF">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="RG">
            </div>

            <h2 class="pl-5 pt-5">Dados Estabelecimento</h2>

            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="CNPJ">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Nome do responsável">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Estado">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Cidade">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Telefone">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Ramo de atuação">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Tem motoboy próprio?">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Atua com outro delivery?">
            </div>

            <div class="input-group mb-3 d-flex justify-content-center mt-3">
                <div class="input-group-prepend termos">
                    <input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
                    <p>Li e aceito os</p>
                    <p class="pl-1 text-warning">termos do contrato</p>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary mb-3 buttonTantto">Enviar</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>