<footer class="backgroundfooter">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <p>Quem é Delivery2U</p>
                <p>Política e Privacidade</p>
                <p>Fale Conosco</p>
            </div>
            <div class="col align-self-end">
                <p>falecom@delivery2u.com.br</p>
            </div>
            <div class="col align-self-center">
                <p>Cadastre sua Loja</p>
                <p>Seja um Parceiro de Entregas!</p>
                <p>Seja dono do Delivery2U na sua Cidade!</p>
            </div>
        </div>
    </div>
</footer>
