.container {
    padding: 0px 120px;
}

.background {
    overflow: hidden;
    background-image: url(../../../assets/entregador/Arte2_Entregador.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    .square {
        position: absolute;
        top: 150px;
        right: 500px;
        background-image: url(../../../assets/entregador/squareblack.png);
        background-repeat: no-repeat;
        width: 45%;
        height: 100vh;
        h4 {
            font-size: 32px;
            position: absolute;
            top: 20%;
            left: 20%;
            color: white;
        }
        h2 {
            font-size: 38px;
            position: absolute;
            top: 26%;
            left: 18%;
            color: white;
        }
        h3 {
            font-size: 35px;
            position: absolute;
            top: 33%;
            left: 22%;
            color: white;
        }
    }
}
.background2 {
    background-color: #F5F5F5;
    height: 270vh;

    .card {
        border-radius: 30px;
        background-color: #161414;
        h2 {
            color: #EBD700;
        }
        input{
            background-color: #323233;
            color: #FFFFFF;
            border-color: #323233;
        }
    
        .termos {
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-weight: bolder;
        }
        .buttonTantto {
            width: 25%;
            border-radius: 20px;
            border-color: #EBD700;
            background-color: #EBD700;
            color: #09090A;
            font-weight: bolder;
        }
    }
}