<div class="background">
    <div class="container">
        <div class="square">
            <h4>Quero ser um</h4>
            <h2>PARCEIRO de</h2>
            <h3>ENTREGAS</h3>
        </div>
    </div>
</div>

<div class="background2">
    <div class="container">
        <h1 class="text-center pt-5">Faça seu cadastro e comece fazer suas entregas!</h1>
        
        <div class="card mt-5">
            <h2 class="pl-5 pt-5">Dados pessoais</h2>

            <div class="input-group pt-3 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Sobrenome">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Senha">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Confirmar Senha">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Celular">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="RG">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="CPF/CNPJ">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Cidade de Atuação">
            </div>

            <h2 class="pl-5 pt-5">Dados Bancários</h2>

            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Banco">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Tipo de Conta">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Agência">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Conta">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="CPF">
            </div>

            <h2 class="pl-5 pt-5">Dados do Veículo</h2>

            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Tipo do Veículo">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Cor do Veículo">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Placa do Veículo">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Foto da sua habilitação">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Foto dos documentos do veículo">
            </div>
            <div class="input-group pt-1 pb-3 pl-5 pr-5">
                <input type="text" class="form-control" placeholder="Sua foto com a CNH">
            </div>

            <div class="input-group mb-3 d-flex justify-content-center mt-3">
                <div class="input-group-prepend termos">
                    <input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
                    <p>Li e aceito os</p>
                    <p class="pl-1 text-warning">termos do contrato</p>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary mb-3 buttonTantto">Enviar</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
